body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
/* Ефекти для іконок */
#effectsContainer {
  
  width: 00%; /* Задайте ширину контейнера */
  height: 100%; /* Задайте висоту контейнера */
  overflow: hidden;
  margin-top: 20px;
}    
.cont {
   display: flex;
    position:relative;
}
#likeButton {
    padding: 10em;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    max-width: 10em;
    max-height: 10em;
    background-image: url(./lybik.jpg) ;
    background-size: 100%;
    box-shadow: 1px 10px 20px #3e9cfa;
}
.effect-icon {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  animation: floatUp 2.5s ease-out;
  pointer-events: none; /* Щоб іконки не заважали клікам */
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-250px);
    opacity: 0;
  }
}
.count {
    font-size: 50px;
    padding: 0.5em;
}
