body {
    user-select: none;
    color:white;
    font-weight: bold;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #313149;
}
.flex-container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
/* Ефекти для іконок */
.cont {
    display: flex;
    position:relative;
}
#likeButton {
  padding: 11em;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  width: 15em;
  height: 15em;
  background-image: url(./titarenko.jpg);
  background-size: 100%;
  overflow: hidden;
  box-shadow: 1px 10px 20px #F258FF;
}
.hr1 {
  box-shadow: 1px 1px 15px rgb(115, 115, 115);
  width: 80%;
  background-color: #F258FF;
  border: solid 2px #F258FF;
  margin-bottom: 1em;
}

.hr2 {
  box-shadow: 1px 1px 15px rgb(115, 115, 115);
  width: 100%;
  background-color: #F258FF;
  border: solid 2px #F258FF;
  margin-top: 7%;
}
img:focus,
img:active {
  user-select: none;
  outline: none;
}
/* Додаємо для стану :focus */
#likeButton:focus,
#likeButton:active {
  outline: none; /* Прибирає контур при фокусі */
}
.effect-icon {
  
  position: absolute;
  bottom: 0;
  font-size: 24px;
  animation: floatUp 2.5s ease-out;
  pointer-events: none; /* Щоб іконки не заважали клікам */
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100% {
    transform: translateY(-250px);
    opacity: 0;
  }
}
.hidden {
  display: none;
}
@media (max-width: 768px) {
  #likeButton {
    -webkit-tap-highlight-color: transparent; /* Вимикає виділення при натисканні на мобільних пристроях */
  }
} 
header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  gap: 5px;

}
.header-item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
}
.icon {
  width: 30%;
}
.f-size{
  font-size: 30px;
}
footer {
  display: flex;
  justify-content: space-around;
}
.ft-itm {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #Fff;
}
figcaption {
  margin-top: 3px;
}
.count {
  user-select: none;
  font-size: 30px;
  display: inline;
}
.number {
  font-size: 40px;
}